html, body{margin: 0; padding: 0; background-color: #fafbfc; font-family: 'Arial';}
#all{width: 80%; margin: 30px auto;}
#apikey{width: 100%; box-sizing: border-box; padding: 7px; font-weight: 700;}
#chid{width: 100%; box-sizing: border-box; padding: 7px; font-weight: 700;}
.mini{margin-top: 10px;}
.area{resize: none; width: 100%; height: 50px; box-sizing: border-box;}

#output{border-top:1px solid #eee; margin: 30px auto; padding-top: 30px;}

.item{box-sizing: border-box; 
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
    margin-bottom: 10px; background: #fff; padding: 16px 10px; font-size: 13px;}
.error{color:#ff303f!important;}

.title{margin: 8px 0; font-size: 14px; font-weight: 900;}
.desc{margin: 8px 0; font-size: 13px; line-height: 16px;}
span.st{color:orange;}